extends shared-layout

block content
  if token
    token= token
    h2 This is the secret page.
    a(href="/auth/logout") Logout
  else
    h2 login
    form(action="/auth/login", method="post")
      input(type="text", name="username", placeholder="username", value="CrunchyArtie")
      input(type="password", name="password", placeholder="password", value="crunchysecret")
      input(type="submit", value="login")
    if errors
      each error in errors
        p= error
