extends shared-layout

block content
  h2 Secret Santa edit config
    each row in config
      form(action="/config/edit", method="post")
        span=row.key
        input(type="hidden", name='key', value=row.key)
        input(type="text", name='value', value=row.value)
        input(type="submit", value="Save")
  if errors
    each error in errors
      p= error
